button{
    margin-top: 20px;
    padding: 10px 12px;
    background-color: #19908A;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 100%;
    transition: .2s;
}
button:hover{
    background-color: #21b4ad;
    cursor: pointer;
}