nav{
    padding: 10px 12px;
    float: right;
    align-items: center;
}
.profile{
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
}